<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.izzz.iseek"
    android:versionCode="11"
    android:versionName="1.1" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="14" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 貌似可去掉 -->

    <uses-permission android:name="android.permission.READ_CONTACTS" >
    </uses-permission>
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <application
        android:name="com.izzz.iseek.app.IseekApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.izzz.iseek.activity.BaseMapMain"
            android:configChanges="keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoTitle" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.izzz.iseek.activity.SettingActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/titlebar" >
        </activity>
        <activity
            android:name="com.izzz.iseek.activity.SetOneKeyNumber"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/titlebar" >
        </activity>
        <activity
            android:name="com.izzz.iseek.activity.OfflineManage"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/titlebar" >
        </activity>
        <activity
            android:name="com.izzz.iseek.activity.AboutActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/titlebar" >
        </activity>
        <activity
            android:name="com.izzz.iseek.activity.AppGuide"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/titlebar" >
        </activity>
        <activity
            android:name="com.izzz.iseek.activity.CorrManage"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/titlebar" >
        </activity>
    </application>

</manifest>